/* General page styling */
.homepage-container {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    min-height: 60vh;
    width: 68vw;
    height: 60vh; /* Make the container take the entire height of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remove padding to make it full-width */
    margin: 0;
    flex-direction: row;
}

/* Form container styling */
.form-container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 40px;
    max-width: 800px; /* Increase the maximum width of the form */
    width: 100%;
    text-align: center;
    box-sizing: border-box; /* Ensure padding doesn't add extra width */
}

/* Header styling */
.header {
    font-size: 32px; /* Increase the font size of the header */
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 30px; /* Add more space between the header and the form */
}

/* Form styling */
.payment-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.payment-form label {
    font-size: 16px; /* Increase font size for better readability */
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.payment-form input {
    width: 100%;
    padding: 14px; /* Increase padding for larger inputs */
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px; /* Slightly increase font size */
    box-sizing: border-box;
    background-color: #ffffff; /* Set background color to white */
    color: #333; /* Make text color dark for readability */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.payment-form input:focus {
    border-color: #7f3ff2; /* Slice logo color */
    outline: none;
    box-shadow: 0 0 8px rgba(127, 63, 242, 0.3); /* Subtle focus effect */
}

/* Submit button styling */
.submit-button {
    background-color: #7f3ff2; /* Slice logo color */
    color: #ffffff;
    padding: 16px 20px; /* Increase padding for a larger button */
    font-size: 20px; /* Larger font size */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #5c2cb2; /* Darker shade for hover effect */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }

    .header {
        font-size: 24px;
    }

    .submit-button {
        font-size: 16px;
        padding: 12px;
    }
}
